*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-body{
    width: 90%;
    margin: auto;
}
input[type="text"]{
    width: 100%;
}
#main_form{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
}